<p>Copyright {{ now.Year }} {{ site.Params.Author }}. {{ site.Params.Copyright}}</p>
<p>This website uses <a href="//int10h.org/oldschool-pc-fonts/fontlist/font?amstrad_pc-2y">Amstrad PC-2y</a> font by <a href="//int10h.org">VileR</a></p>
<p>This website is best viewed using Ned's cape 1.0 or lower.</p>

<!-- yaaaaaay 88x31!! -->
<section class="noselect">
    <a href="//sdomi.pl/">
        <img src="//sdomi.pl/img/button.bmp" alt="An 88x31 button. Witch hat on the left, text 'sdomi' on the right. The background is procedurally generated every 30 or so seconds." title="sdomi's webpage">
    </a>
    <a href="//www.firefox.com/">
        <img src="/buttons/getmozilla.gif" alt="An 88x31 button. It shows the Mozilla mascot (a red t-rex) on the left, text 'Mozilla Now!' on the right." title="Get Mozilla">
    </a>
    <a href="//archlinux.org/">
        <img src="/buttons/arch.png" alt="An 88x31 button. It shows the Arch Linux logo on a gray background." title="Arch Linux">
    </a>
</section>
